/*.container-fluid {
  background-color: #ffffff;

}

.navbar-text {
  color : #ffffff;
  font-weight : bold;
  background : #4aaaa5;
  padding : 20px;
  margin : 0px;
  font-size : 30px;
  font-family: 'Georgia', Times, "Times New Roman", serif;
}

.nav{
  color : #99a3a9;
  }*/